.DS_Store
.env
.lint
.env.testing
.git_commit_nr
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
/.phpunit.cache
.php-cs-fixer.php
build
composer.phar
dump.rdb
/.idea
/.sass-cache
/node_modules
/vendor
Gemfile.lock
cache.properties
storage/database.sqlite
storage/framework/testing
storage/framework/laravel-excel
storage/exports
storage/app/bulk
storage/clockwork
npm-debug.log
*.pem

public/coverage/
public/css/*.css
public/css/*.map
public/js/*.js
public/js/*.map
public/js/*.txt
public/js/chunks
public/mix-manifest.json
storage/debugbar/
nbproject/
desktop.ini
config/logviewer.php
/reports

*.iml

/stubs
.nvmrc
